.footer {
  background: #111827;
  padding: 1.5rem;
  text-align: center;
  border-top: 2px solid #22d3ee;
  margin-top: 2rem;
}

.footer p {
  margin-bottom: 0.5rem;
  color: #9ca3af;
}

.footer .socials a {
  margin: 0 10px;
  color: #22d3ee;
  font-weight: bold;
  transition: 0.3s;
}

.footer .socials a:hover {
  text-shadow: 0 0 10px #22d3ee;
}
